<style type="text/css">
	/* Set the fixed height of the footer here */
      footer {
      background-color: #909497  ;
      color: white;
      padding: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      display: inline;
      }
</style>
<div class="footer">
 <footer class="container-fluid text-center">
  <div class="col-md-7">
  	<div class="col-md-6 col-sm-1">Google Cloud partners (PVT) Ltd</div>
   </div> 

    <div class="col-md-1 col-sm-2"><span class="pull-right">Policy</span></div>
    <div class="col-md-1 col-sm-2">Community</div>
    <div class="col-md-1 col-sm-2">Feedback</div>
    
</footer> 
</div>