<div class="footer">
 <footer class="container-fluid text-center">
  <div class="col-md-7">
    <div class="col-md-6 col-sm-1">Google Cloud partners</div>
   </div> 

    <div class="col-md-1 col-sm-2"><span class="pull-right">policy</span></div>
    <div class="col-md-1 col-sm-2">community</div>
    <div class="col-md-1 col-sm-2">privilage</div>
    <div class="col-md-1 col-sm-2">feedback</div>
    
</footer> 
</div>