
<nav class="ck mo zq mt qh app-navbar">
  

  <a class="e" href="">
    <img src="/cssFiles/logogdfg.png" alt="brand" style="width: 60px">
  </a>

  <button class="mk blk se" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ml"></span>
  </button>

  <div class="collapse f" id="navbarResponsive">
    <ul class="navbar-nav adn" >
      <li class="md active">
        <a class="mb" href="/home">Home</a>
      </li>
      <li class="md active">
        <a class="mb" href="/profile">Profile</span></a>
      </li>
      

    </ul>

    <form class="kl zc ro sk">
      <input class="form-control" type="text" data-action="grow" placeholder="Search">
      <div class="input-group-btn">
      </div>
    </form>

    <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false"> <img src="<%=user.image %>" class="img-thumbnail" alt="Cinque Terre" width="30px" height="30px"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ><a href="/dash">Admin</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
              
            </ul>
     </li>
        
  </div>
</nav>