
<nav class="ck mo zq mt qh app-navbar">
  

  <a class="e" href="">
    <img src="/cssFiles/Cloud_Partners_Logo.png" alt="brand" style="width: 60px">
  </a>

  <button class="mk blk se" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ml"></span>
  </button>

  <div class="collapse f" id="navbarResponsive">
    <ul class="navbar-nav adn" >

    </ul>
  <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="<%=user.image %>" class="img-thumbnail"  width="50px" height="50px"> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li role="separator" class="divider"></li>
    <li><a href="/login">Login</a></li>
  </ul>
</div>
        
  </div>
</nav>