<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Signup</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<link href="/cssFiles/css.css" rel="stylesheet" type="text/css">
    <link href="/cssFiles/toolkit.css" rel="stylesheet">
    <link href="/cssFiles/application.css" rel="stylesheet">

	<style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
        background-color: #ECEFF1;
        padding-bottom:60px;  
        padding-top: 200px;
      }

  </style>


</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">


	<!-- LOGIN FORM -->
	<form role="form" class="adq arx j" action="/signup" method="post">

     <div class="jt">
     <img src="/cssFiles/logo.png" alt="brand" style="height: 70px; width:200px;  margin-right: 0px; " >
     </div>

      <div class="jt">
        <input class="form-control" placeholder="First Name" name="fname">
      </div>
	  <div class="jt">
        <input class="form-control" placeholder="Last Name" name="lname">
      </div>
	  <div class="jt">
        <input class="form-control" placeholder="Email" type="email" name="username">
      </div>
      <div class="jt abd">
        <input class="form-control" placeholder="New Password" type="password" name="password">
      </div>
	  <div class="jt abd">
        <input class="form-control" placeholder="Confirm Password" type="password" name="password2">
      </div>
	
      <div class="abr">
        <button class="cg kr">proceed</button>
		    <button class="cg kt">SignIn</button>
      </div>
    </form>


	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
<script>
      
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
</script>

</body>
</html>
